<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <script src="http://ajaxorg.github.com/ace/build/src/ace.js"></script>  
    <script src="/channel/bcsocket.js"></script> 
    <script src="/share/share.js"></script>
    <script src="/share/ace.js"></script>
</head>